<div class="page-header">
  <h1>Sudoku</h1>
</div>
<%= form_tag solve_puzzles_path, method: 'post' %>
  <table class="table table-bordered">
    <% 9.times do |row| %>
      <tr>
        <% 9.times do |col| %>
          <td class="<%= "row-#{row} col-#{col}" %>"><%= number_field_tag 'puzzle[]', nil, in: 0..9, class: 'input-mini' %></td>
        <% end %>
      </tr>
    <% end %>
  </table>
  <button type="submit" class="btn">Solve</button>
</form>
